.main-header {
  min-height: 80vh;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  background: rgb(181, 238, 212);
  color: rgb(54, 54, 54);
  text-align: center;
  padding-top: 1em;
}

.header-title {
  border-bottom: 5px solid #91130f;
  display: inline-block;
}

main.py-3 {
  margin-top: 1.4rem;
}

.homeview-container {
  background: rgb(181, 199, 191);
}

.homeview-display {
  margin-top: -20vh;
  background: #ffc0cbad;
}

.card {
  background-color: #d3c0c0;
}

/* rating */

.rating span {
  margin: 0.2rem;
}

.card-body h3 {
  padding-top: 1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0.9rem 1rem 1rem;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
